*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #07c7a4;
  --secondary-clr: #ffffff;
  --tetiary-clr: #dcf5e6;
  --primary-lighter: #07d1ad;
  --primary-darker: #0bc08a;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: var(--primary-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.todo__container {
  border-radius: 10px;
  /* box-shadow: 0 0 10px 5px rgba(83, 81, 81, 0.5); */
  width: min(65em, 100% - 5rem);
  display: flex;
  height: 70vh;
}

.left__side {
  flex: 0.3;
  background-color: var(--secondary-clr);
  border-right: 1px solid var(--primary-lighter);
  display: flex;
  flex-direction: column;
}

.right__side {
  flex: 0.7;
  background-color: var(--tetiary-clr);
  display: flex;
  flex-direction: column;
  position: relative;
}

.heading {
  text-align: center;
  padding-block: 1rem;
  color: var(--primary-clr);
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  font-weight: 700;
  /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3); */
}

.title__lists,
.desc__lists {
  margin-right: auto;
  margin-top: 1rem;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-block: 0.5rem;
  text-align: center;
  font-size: 1.4rem;
}

.descrip {
  text-align: left;
}

.title__list {
  box-shadow: 0 0 1px 1px #07d1ad;
  padding: 0.5rem;
  cursor: pointer;
}

.desc__list {
  box-shadow: 0 0 1px 1px #07d1ad;
  padding: 0.5rem;
  cursor: pointer;
  padding-block: 1rem;
  padding: 2rem;
}

.options {
  float: right;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.del__option {
  color: #ff6a6a;
}

.edit__option {
  color: #808080;
}

.task_date {
  font-size: small;
  font-weight: bold;
  font-style: italic;
  color: #808080;
  font-size: 1rem;
}

.task_title {
  color: var(--primary-darker);
  font-weight: bold;
  text-transform: capitalize;
}

.todo__desc-heading {
  color: var(--primary-darker);
  font-size: 1.8rem;
  font-style: italic;
  text-transform: capitalize;
  font-weight: bolder;
}

.task__description {
  color: var(--primary-darker);
  text-align: justify;
  padding-block: 0.5rem;
  width: min();
}

.due_date {
  color: #ff6a6a;
}

.create__btn-wrapper {
  align-self: center;
  padding-block: 1rem;
}

.create__btn {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  border: 1px solid var(--primary-darker);
  color: var(--secondary-clr);
  background-color: var(--primary-darker);
  cursor: pointer;
}

.plus__icon-wrapper {
  /* position: absolute;
  bottom: 2rem;
  right: 3rem; */
  align-self: flex-end;
  padding-block: 1rem;
  margin-right: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-darker);
}
.material-symbols-outlined {
  font-size: 4rem;
}
.title__form,
.description__form,
.edit__form {
  width: min(35em, 100% - 15rem);
  padding: 1rem 3rem;
  box-shadow: 0 0 10px 5px rgba(83, 81, 81, 0.5);
  border-radius: 5px;
  background-color: var(--secondary-clr);
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-heading {
  /* padding-block: 1rem; */
  text-align: center;
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  color: var(--primary-clr);
  font-weight: 700;
}

.form__group {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: center; */
  flex-wrap: wrap;
  margin: 3rem 0;
}

.form__input {
  border: 1px solid var(--primary-clr);
  border-radius: 4px;
  outline: none;
}

.form__group-input {
  padding: 1.5rem 1rem;
  width: 79%;
}

.desc__group-input {
  padding: 1rem;
  width: 100%;
}

.edit__group-input {
  margin: 0.5rem auto;
  padding: 1rem;
  width: 100%;
}

.form__group-date {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--primary-clr);
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  color: #000;
  font-weight: bold;
  margin: 0.5rem auto;
}

.form__group-date:focus {
  outline: none;
}

.calendar i {
  margin-left: -2.2rem;
  color: var(--primary-clr);
}

.create__task-btn,
.desc__btn,
.edit__btn {
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.submit__title--btn {
  margin-left: -10.2rem;
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
}

.cancel__title--btn {
  color: var(--primary-clr);
  background-color: var(--secondary-clr);
}

.desc__btn,
.edit__btn {
  color: var(--primary-clr);
  position: relative;
  top: 3rem;
  left: 15rem;
  background-color: transparent;
}

.desc__btn:hover,
.edit__btn:hover {
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
  opacity: 0.6;
  transform: scale(1.01);
}

.submit__btn:hover {
  opacity: 0.6;
  transform: scale(1.01);
}

.cancel__btn:hover {
  background-color: var(--primary-clr);
  opacity: 0.6;
  color: var(--secondary-clr);
  transform: scale(1.01);
}

.hidden {
  display: none;
}

.overlay {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
  z-index: 1;
  transition: all 0.5s ease;
}

.form__group-small,
.form__date-small {
  color: red;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1rem;
}

.error {
  border: 1.5px solid red;
}

.success {
  border: 1.5px solid green;
}
